USE [HospitalDB]
GO
/****** Object:  Table [dbo].[Exame]    Script Date: 06/09/2025 01:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exame](
	[id_exame] [int] IDENTITY(1,1) NOT NULL,
	[id_consulta] [int] NULL,
	[tipo_exame] [varchar](100) NULL,
	[resultado] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exame] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exame]  WITH CHECK ADD FOREIGN KEY([id_consulta])
REFERENCES [dbo].[Consulta] ([id_consulta])
GO
