USE [HospitalDB]
GO
/****** Object:  Table [dbo].[Prescricao]    Script Date: 06/09/2025 01:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescricao](
	[id_prescricao] [int] IDENTITY(1,1) NOT NULL,
	[id_consulta] [int] NULL,
	[id_medicamento] [int] NULL,
	[instrucoes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_prescricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prescricao]  WITH CHECK ADD FOREIGN KEY([id_consulta])
REFERENCES [dbo].[Consulta] ([id_consulta])
GO
ALTER TABLE [dbo].[Prescricao]  WITH CHECK ADD FOREIGN KEY([id_medicamento])
REFERENCES [dbo].[Medicamento] ([id_medicamento])
GO
